<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sthack</title>
  <link href="/icone.ico" type="image/x-icon" rel="shortcut icon">
  <link href="/css/reset.min.css" rel="stylesheet">
  <link href="/css/style.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.ui.touch-punch.dk.js"></script>
  <%if (typeof auth !== 'undefined'){ %>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socketIOUrl = '<%= socketIOUrl %>';
      var sock = io.connect(socketIOUrl);
    </script>
    <% if (typeof admin !== 'undefined'){ %>
      <script src="/js/admin.min.js"></script>
    <% } else {%>
      <% if(current === 'scoreboard'){ %>
        <script src="/js/scoreboard.min.js"></script>
      <% } else {%>
        <script src="/js/client.min.js"></script>
      <% } %>
    <% } %>
  <% } %>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


</head>

<body>
<div id="navbar">
  <div class="menu left"><img src="/img/logo.png" /></div>
  <% if(current === 'index'){ %>
    <a class="menu left btn selected" href="/">Control interface</a>
  <% } else { %>
    <a class="menu left btn" href="/">Control interface</a>
  <% } %>
  <% if(typeof auth === 'undefined'){ %>
    <% if(registrationOpen) { %>
      <% if(current === 'register'){ %>
        <a class="menu left btn selected" href="/register">Register</a>
      <% } else { %>
        <a class="menu left btn" href="/register">Register</a>
      <% } %>
    <% } %>
</div>
  <% } else { %>
    <% if(current === 'scoreboard'){ %>
      <a class="menu left btn selected" href="/scoreboard">Scoreboard</a>
    <% } else { %>
      <a class="menu left btn" href="/scoreboard">Scoreboard</a>
    <% } %>
<div class="menu right"><span id="team"></span> - <span id="score"></span> - <span id="breakthrough"></span></div>
</div>
<div id="console">
</div>
<% } %>
