<% include head.ejs %>
  <div id="pad">
    <div class="titleBar">
      <h2>Control Interface</h2>
    </div>
    <div class="content" id="challenges">
      <div id="final_bouton"></div>
    </div>
  </div>


<div id="popup">
  <div class="titleBar">
    <h2 id="titlePopup">Titre task</h2>
  </div>
  <div id="contentPopup">
    <div id="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit neque at nulla lacinia, id lacinia nisi pulvinar. In vel enim a ipsum feugiat volutpat vel id eros. Nulla dictum dapibus fringilla. Nullam augue arcu, fermentum vitae risus eu, vulputate placerat metus. Donec rhoncus diam et hendrerit malesuada. Nulla ultricies imperdiet tortor, a tristique quam egestas id. Nunc rhoncus, mauris ut lacinia ultrices, orci nisl convallis sapien, ut pretium sem libero at velit. Quisque sem sem, venenatis sed rhoncus sed, sollicitudin vitae felis. Quisque eget nulla sit amet turpis faucibus viverra. Morbi lectus risus, dapibus eu iaculis nec, volutpat eget libero. Integer malesuada magna at urna tempor tempor.
    </div>
    <div id="informations">
      Author : agix - Difficulty : easy
    </div>
    <div id="error">
      Bad Flag
    </div>
    <div id="submit">
      <input type="password" id="flag" placeholder="Flag"/><br />
      <button id="submitFlag">Submit</button>
      <button id="cancel">Cancel</button>
    </div>
  </div>
</div>

</body>
</html>
