<% include head.ejs %>
  <div id="rules" class="window">
  <div id="challenges">
    <div id="rulesin" class="content">
      <br /><br />
      <h2><u>Scoring</u></h2>
      <br />
      Comme chaque année le score est dynamique, il suit cette formule toute simple :<br />

      <div style="padding: 20px 20px 20px 30px;">
        <code style="padding: 10px; background-color: #b7b7b7; border: 1px solid #4e4c4c;">task_points = (base_score * base_difficulty) * (total_teams - solvers)</code>
      </div>

      Ou:
      <ul>
        <li><code>base_score</code> est la constante <strong><%= baseScore %></strong></li>
        <li><code>base_difficulty</code> est égal à <strong>1</strong> (<em>facile</em>), <strong>2</strong> (<em>moyen</em>) or <strong>3</strong> (<em>difficile</em>)</li>
        <li><code>total_teams</code> est le nombre total d'équipe participant au CTF</li>
        <li><code>solvers</code> est le nombre d'équipe ayant résolu l'épreuve</li>
      </ul>
      <br />
      Cela veut dire que vous pouvez vous attendre à voir vos points diminuer au fur et à mesure que des équipes résolvent les mêmes épreuves que vous.
      
      <br />
      Il n'y a pas de point bonus pour les breakthrough, en revanche ils sont récompensés par un lot.<br :>
      Toutes les épreuves <em>*devraient*</em> être ouvertes dès le début du CTF.
      <br /><br /><br />

      <h2><u>Questions</u></h2>
      <br />
      N'hésitez pas à solliciter le staff si vous avez des questions/doutes/difficultés/envies de pisser<br />
      <br /><br /><br />
      <h2><u>Règle</u></h2>
      <br />
      <ul>
        <li>Une équipe ne doit pas dépasser 5 personnes</li>
        <li>Les joueurs à distance ne sont pas autorisés</li>
        <li>Il est interdit de partager des flags</li>
        <li>Evitez d'attaquer le scoreboard</li>
        <li>De la même manière éviter tout déni de service sur les épreuves.</li>
      </ul>
      <br />
      Nous nous réservons le droit de disqualifier n'importe quelle équipe pour n'importe quel motif !
      <br /><br />
    </div>
    </div>
  </div>
</body>
</html>
<!--

<html>
<body>


</body>
</html>
 -->