body{
	width: 100%;
	background: url(/img/bg.jpg);
}

#navbar{
    height:50px;
    background: #e3e3e3;
}

.menu{
    line-height: 50px;
    display: inline-block;
    width:200px;
    text-align: center;
    font-family: verdana;
    text-decoration: none;
    color: black;
}

.selected{
    font-weight: bold;
}

.menu:hover{
    background-color: #2968D8;
}

#login{
    padding: 10px;
	width: 350px;
	height: 267px;
	margin: 12% auto;
    text-align:center;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #ffffff 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#ffffff), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
}

#login select{
    padding: 5px;
    font: normal 20px Verdana, Tahoma, sans-serif;
    width: 90%;
    margin-top: 8%;
    background: #FFFFFF;
}

#login select{
    padding: 5px;
    font: normal 20px Verdana, Tahoma, sans-serif;
    width: 80%;
    margin-top: 8%;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px #c5c5c5;
}

#login input{
    padding: 9px;
    border: solid 1px #c5c5c5;
    font: normal 20px Verdana, Tahoma, sans-serif;
    width: 72%;
    margin-top: 5%;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px #c5c5c5;
}