body{
    min-width: 1400px;
    background: url(/img/bg.jpg);
}

#navbar{
    width: 100%;
    height:50px;
    background: #e3e3e3;
}

.menu{
    line-height: 50px;
    display: inline-block;
    width:200px;
    text-align: center;
    font-family: verdana;
    text-decoration: none;
    color: black;
}

.selected{
    font-weight: bold;
}

.btn:hover{
    background-color: #2968D8;
}

.right{
    float:right;
}

#login{
    padding: 10px;
    width: 350px;
    height: 267px;
    margin: 12% auto;
    text-align:center;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #ffffff 0%, #e3e3e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#ffffff), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
}

#login select{
    padding: 5px;
    font: normal 20px Verdana, Tahoma, sans-serif;
    width: 90%;
    margin-top: 8%;
    background: #FFFFFF;
}

#login select{
    padding: 5px;
    font: normal 20px Verdana, Tahoma, sans-serif;
    width: 80%;
    margin-top: 8%;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px #c5c5c5;
}

#login input{
    padding: 9px;
    border: solid 1px #c5c5c5;
    font: normal 20px Verdana, Tahoma, sans-serif;
    width: 72%;
    margin-top: 5%;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px #c5c5c5;
}

#console{
    position:absolute;
    width: 400px;
    height: 700px;
    opacity:0.7;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: consolas, monospace;
    color: #00ed0b;
    background-color: #000;
    font-size: 0.8em;
    line-height: 20px;
}

#console a{
    color: red;
    text-decoration:none;
}

#console a:hover{
    text-decoration:underline;
}


#pad{
    left:425px;
    position:absolute;
    width: 925px;
    height: 680px;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #ffffff 0%, #e3e3e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#ffffff), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
    margin: 25px;
    box-shadow: 1px 1px 25px #555;
}

.titleBar{
    width: 100%;
    height: 25px;
    background-color: #616161;
    padding-top: 10px;
    padding-bottom: 10px;
}

.titleBar h2{
    margin-left: 10px;
    color:#F7F7F7;
    line-height: 25px;
    font-family: consolas, monospace;
}

.content{
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px;
    height: 90%;
}

.content h3{
    margin:5px;
    font-weight: bold;
}

.content div{
    margin:20px;
}

.center{
    text-align: center;
}

.f-left{
    float:left;
    width:45%;
}

.f-left p{
    margin-bottom: 10px;
}

.f-left h4{
    display: inline-block;
    width:150px;
}

canvas {
    width: 200px;
    height: 128px;
}

.buttonTask{
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
}

#popup{
    display: none;
    width: 510px;
    height: 370px;
    position: fixed;
    top: 250px;
    left: 680px;
    background-color: #fff;

    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
}

#contentPopup{
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px;
    height: 83%;
}

#submit{
    text-align:center;
    margin-top:2%;
}

#submit input{
    padding: 1%;
    border: solid 1px #c5c5c5;
    font: normal 2em Verdana, Tahoma, sans-serif;
    width: 50%;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px #c5c5c5;
    margin-bottom:10px;
}

#submit button{
    height: 10%;
    width: 30%;
    padding-top: 2.5%;
    padding-bottom: 2%;
    border:0;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    font-family: consolas, monospace;

    -webkit-box-shadow:
        0 4px 0 grey,
        0 7px 10px rgba(0,0,0,.35);
    -moz-box-shadow:
        0 4px 0 grey,
        0 7px 10px rgba(0,0,0,.35);
    box-shadow:
        0 4px 0 grey,
        0 7px 10px rgba(0,0,0,.35);
}

#submit button:active{
    -webkit-box-shadow:
        0 0px 0 grey,
        0 0px 0px rgba(0,0,0,.3);
    -moz-box-shadow:
        0 0px 0 grey,
        0 0px 0px rgba(0,0,0,.3);
    box-shadow:
        0 0px 0 grey,
        0 0px 0px rgba(0,0,0,.3);

    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

#submitFlag {
    background-color: #fc2828;
}

#cancel{
    background-color: #a4a4a4;
}

#informations{
    margin-top:2%;
    font-style: italic;
    text-align:center;
}

#error{
    display: none;
    margin-top:2%;
    color: #fc2828;
    text-align:center;
}