body{
    /*min-width: 1400px;*/
    background: url(/img/bg.jpg);
}

#navbar{
    width: 100%;
    background: #000;
    position: fixed;
}

.menu{
    line-height: 200%;
    display: inline-block;
    width: 12%;
    text-align: center;
    font-family: consolas, monospace;
    text-decoration: none;
    color: #c72127;
    font-size: 1vw;
}

.menu img{
    width: 10%;
}

/*@media screen and (max-width: 1400px){
    .menu{
        font-size: 1em;
    }
}*/

.selected{
    font-weight: bold;
}

.btn:hover{
    background-color: #4d0d0f;
}

.right{
    float:right;
    width:30%;
}

.left{
    float:left;
}

#login{
    padding: 1%;
    /*min-width: 350px;
    min-height: 267px;*/
    width: 36%;
    height: 40%;
    position: absolute;
    top:30%;
    left:30%;
    text-align:center;
    background: #000; /* Old browsers */
}

#login img{
    width: 30%;
}

#login select{
    padding: 5px;
    font: normal 20px Verdana, Tahoma, sans-serif;
    width: 80%;
    margin-top: 8%;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px #c5c5c5;
}

#login input{
    padding: 1%;
    border: solid 1px #c5c5c5;
    font: normal 1vw Verdana, Tahoma, sans-serif;
    width: 72%;
    margin-top: 5%;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px #c5c5c5;
}

#console{
    z-index: 101;
    top:5%;
    direction:rtl;
    position:absolute;
    /*min-width: 400px;
    min-height: 350px;*/
    width: 30%;
    height: 85%;
    opacity:0.7;
    padding: 1%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: consolas, monospace;
    color: #c72127;
    background-color: #000;
}

#console a{
    color: red;
    text-decoration:none;
}

#console a:hover{
    text-decoration:underline;
}

.window{
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #ffffff 0%, #e3e3e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#ffffff), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
    box-shadow: 1px 1px 1em #555;
}

#pad{
    z-index: -2;
    left:33%;
    top:5%;
    position:absolute;
    /*min-width: 925px;
    min-height: 680px;*/
    width:60%;
    height: 85%;
}

.titleBar{
    width: 100%;
    height: 4%;
    background-color: #616161;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1vw;
    color:#F7F7F7;
    font-family: consolas, monospace;
}

.titleBar img{
    width: 3%;
    margin-right: 1%;
    margin-top: -0.5%;
    float: right;
    cursor: pointer;
}

/*@media screen and (max-width: 1400px){
    .titleBar {
        font-size: 0.8em;
    }
}*/

.popupTitleBar{
    width: 100%;
    height: 10%;
    background-color: #616161;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1vw;
    color:#F7F7F7;
    font-family: consolas, monospace;
}

/*.popupTitleBar h2{

}*/

/*@media screen and (max-width: 1400px){
    .popupTitleBar h2{
        font-size: 0.8em;
    }
}*/

.content{
    font-family: consolas, monospace;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 1%;
    height: 88%;
}

.content div{
    font-size: 1vw;
}

/*@media screen and (max-width: 1400px){
    .content div{
        font-size: 1em;
    }
}*/

.content h3{
    margin:1%;
    font-weight: bold;
}

.content div{
    margin:2%;
}

.center{
    text-align: center;
}

#admin select{
    width:20%;
    height:2em;
    font-size: 1vw;
}

#admin input{
    width:50%;
    font-size: 1vw;
}

.f-left{
    float:left;
    width:45%;
}

.f-left p{
    margin-bottom: 1%;
    width:30%;
}

.f-left input{
    width:30%;
}

.f-left h4{
    display: inline-block;
    width:30%;
}



#addTeam, #editTeam, #addTask, #editTask{
    width:40%;
    height:2em;
    font-size: 1vw;
}

#deleteTeam, #deleteTask{
    width:50%;
    height:2em;
    font-size: 1vw;
}

#sendMessage, #openCTF, #closeCTF, #openRegistration, #closeRegistration{
    width:10%;
    height:2em;
    font-size: 1vw;
}

#refresh{
    width:20%;
    height:2em;
    font-size: 1vw;
}

canvas {
    width: 30%;
    height: initial;
}

.buttonTask, .buttonDir{
    cursor: pointer;
    margin-left: 1%;
    margin-top: 1%;
}

.directory{
    display: none;
    z-index: 1;
    display: block;
    /*min-width: 510px;
    min-height: 330px;*/
    width: 50%;
    height: 65%;
    position: absolute;
    top: 20%;
    left: 40%;
}

#popup{
    display: none;
    z-index: 100;
    /*min-width: 510px;
    min-height: 330px;*/
    width: 36%;
    height: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
}

#contentPopup{
    overflow-y: auto;
    overflow-x: hidden;
    margin: 2%;
    height: 83%;
    font-size: 1vw;
}

/*@media screen and (max-width: 1400px){
    #contentPopup{
        font-size: 1em;
    }
}*/

#submit{
    text-align:center;
    margin-top:2%;
}

#submit input{
    padding: 1%;
    border: solid 1px #c5c5c5;
    font: normal 2em Verdana, Tahoma, sans-serif;
    width: 50%;
    background: #FFFFFF;
    box-shadow: 0px 0px 2% #c5c5c5;
    margin-bottom:2%;
}

#submit button{
    height: 10%;
    width: 30%;
    padding-top: 2.5%;
    padding-bottom: 2%;
    border:0;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    font-family: consolas, monospace;

    -webkit-box-shadow:
        0 0.2em 0 grey,
        0 0.3em 0.4em rgba(0,0,0,.35);
    -moz-box-shadow:
        0 0.2em 0 grey,
        0 0.3em 0.4em rgba(0,0,0,.35);
    box-shadow:
        0 0.2em 0 grey,
        0 0.3em 0.4em rgba(0,0,0,.35);
}

#submit button:active{
    -webkit-box-shadow:
        0 0px 0 grey,
        0 0px 0px rgba(0,0,0,.3);
    -moz-box-shadow:
        0 0px 0 grey,
        0 0px 0px rgba(0,0,0,.3);
    box-shadow:
        0 0px 0 grey,
        0 0px 0px rgba(0,0,0,.3);

    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

#submitFlag {
    background-color: #fc2828;
}

#cancel{
    background-color: #a4a4a4;
}

#informations{
    margin-top:2%;
    font-style: italic;
    text-align:center;
}

#error{
    display: none;
    margin-top:2%;
    color: #fc2828;
    text-align:center;
}

.new_line{
    font-size: 1vw;
    line-height: 120%;
    direction:ltr;
}

/*@media screen and (max-width: 1400px){
    .new_line{
        font-size: 0.8em;
    }
}*/

#scoreboard {
    display: table;
    width:100%;
}

.line{
    margin: auto;
    display: table-row;
}

.line .column{
    overflow: hidden;
    margin:0px;
    float:left;
    text-align: center;
    margin-bottom: 1%;
}

.head .column{
    font-weight: bold;
    margin-bottom: 3%;
}

.pos{
    width: 10%;
}

.team{
    width: 50%;
}

.score{
    width:15%;
}

.last{
    width:24%;
}

.bt{
    width:24%;
}
.bt img{
    width: 10%;
}

#breakthrough img{
    width: 4%;
}

#rules{
    z-index: -2;
    left:5%;
    top:5%;
    position:absolute;
    /*min-width: 925px;
    min-height: 680px;*/
    width:85%;
    height: 85%;
}