<% include head.ejs %>
<div id="pad" class="window">
  <div id="challenges">
    <div class="content" id="popup">
      <div id="contentPopup">
        <h3 id="titlePopup"></h3>
        <div id="informations">
          <span class="bold">Author : </span>
          <span></span>
          <span class="bold">Difficulty : </span>
          <span></span>
        </div>
        <div id="tags">
          <span class="bold">Tags : </span>
          <span></span>
        </div>
        <div id="description">
        </div>
        <div id="error">
        </div>
        <div id="submit">
          <input type="password" id="flag" placeholder="Flag" /><br />
        </div>
      </div>
    </div>

  </div>
  <div id="button">
    <img src="/img/back.svg" id="prev">
    <img src="/img/home.svg" id="home">
  </div>
</div>

</body>

</html>
