<% include head.ejs %>
<div id="login">
  <img src="/img/banner.png" alt="Sthack"><br />
  <form method="POST" action="/">
    <input type="text" name="name" placeholder="Team name" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" id="submit" value="LOGIN">
  </form>
</div>
</body>

</html>
